contourpy==1.2.0
cycler==0.12.1
euromeasure @ git+https://github.com/powder-phun/EuroMeasure-py.git@6a86c6592f0268254b62996869be233f1df07f40
fonttools==4.50.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pillow==10.2.0
pyModbusTCP==0.2.1
pyparsing==3.1.2
pyserial==3.5
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
python-dateutil==2.9.0.post0
python-vxi11==0.9
PyVISA==1.14.1
scipy==1.12.0
shiboken6==6.6.2
six==1.16.0
typing_extensions==4.10.0
